body.no-scroll {
  overflow: hidden;
}

.modal-layer {
  position: fixed;
  z-index: 100;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, .7);
}

.modal-content {
  background-color: white;
  margin: auto;
  max-width: 80%; max-height: 80%;
  overflow: scroll;
}

.modal-overlay, .modal-content {
  opacity: 0; transition: opacity .2s;
  position: fixed; left: 0; top: 0; right: 0; bottom: 0;
}

.modal-overlay.is-active, .modal-content.is-active {
  opacity: 1;
}

iframe.modal-content {
  border: none;
}
