/* These rules are recommended for Modal.js */
body.no-scroll {
  overflow: hidden;
}
.modal-overlay, .modal-frame {
  position: fixed; left: 0; top: 0; right: 0; bottom: 0;
}
.modal-frame {
  margin: auto;
}
.modal-content {
  background-color: white;
  overflow: scroll;
  width: 100%; height: 100%;
}
iframe.modal-content {
  border: none;
}
