/* These rules are recommended for Tooltip.js */
.tooltip-trigger {
  position: relative;
}
.tooltip-content {
  position: absolute;
}
.tooltip-content.dimensions {
  position: static;
  display: inline-block;
  width: auto; height: auto;
}
iframe.tooltip-content {
  border: none;
}
