gray = #666;
black = #111;

.modal-layer {
  z-index: 100;
}
.modal-overlay, .modal-frame {
  opacity: 0;
  transition: opacity .25s, visibility .25s;
  visibility: hidden;
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
.modal-overlay {
  background-color: rgba(0, 0, 0, .65);
}
.modal-frame {
  transform: translateY(-2rem);
  transition: opacity .25s, transform .25s, visibility .25s, width .4s, height .4s;
  &.is-active {
    transform: translateY(0);
  }
}
.modal-content {
  border-radius: 4px;
  border: solid black 2px;
  padding: .5rem;
}
a.modal-cancel {
  background-color: black;
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, .5);
  color: white;
  height: 24px; width: 24px;
  line-height: 24px;
  position: absolute; right: -2.2rem; top: -.9rem;
  text-align: center;
  transition: background-color .25s;
  &:hover {
    background-color: gray;
  }
  &::before {
    content: "X";
    display: inline-block;
    font: bold 16px verdana, sans-serif;
    padding-top: 2px;
  }
}
