dark-gray = #3a3a3a;

.tooltip-content {
  background-color: dark-gray;
  border-radius: .3rem;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  color: white;
  font: 80% sans-serif;
  margin: 0 0 .6rem .4rem;
  max-width: 600px;
  opacity: 0;
  padding: .5rem;
  transform: translateX(2rem);
  transition: opacity .2s, visibility .2s, transform .2s;
  visibility: hidden;
  &.is-active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    z-index: 1;
  }
}
